@page
@model EFCoreMovie1_RazorPages.Pages.Movies.GetMoviesModel
@{
}

<h1>List of movies</h1>
<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
        <a asp-page="GetMovies">Back to Full List </a>
    </p>
</form>
<h4 style="color:red"> List of movies</h4>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Year</th>
            <th>Running time (min)</th>
            <th>Studio ID</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model.Movies)
            {
                <tr>
                    <td> @item.Id </td>
                    <td> @item.Title </td>
                    <td> @item.Year  </td>
                    <td> @item.RunningTimeInMins </td>
                    <td> @item.StudioId </td>
                    <td>
                        <p>
                            <a asp-page="Delete" asp-route-id="@item.Id">Delete</a>
                        </p>

                    </td>
                </tr>
            }
        }
</table>
