@page
@model EFCoreHotel_RazorPages_Solution.Pages.Hotels.GetHotelDetailsModel
@{
}

<h1>Hotel details</h1>

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Hotel.HotelNo)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Hotel.HotelNo)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Hotel.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Hotel.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Hotel.Address)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Hotel.Address)
    </dd>
</dl>

<table class="table">
    <thead>
        <tr>
            <th>  Room No  </th>
            <th> Price  </th>
            <th> Types </th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Hotel != null && Model.Hotel.Rooms != null)
        {
            @foreach (var item in Model.Hotel.Rooms)
            {
                <tr>
                    <td> @item.RoomNo  </td>
                    <td>  @item.Price </td>
                    <td>  @item.Types </td>
                </tr>
            }
        }
</table>
