@page
@model EFCoreTeaching_RazorPages_Solution.Pages.Enrollments.Enroll_StudentModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create Enrollment</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="  ModelOnly  " class="text-danger">
            </div>

            <div class="form-group">
                    <label asp-for="@Model.Student.StudentId" class="control-label"></label>
                    <input asp-for="@Model.Student.StudentId" class="form-control" disabled />
                    <span asp-validation-for="@Model.Student.StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Student.Name" class="control-label"></label>
                <input asp-for="@Model.Student.Name" class="form-control" disabled />
                <span asp-validation-for="@Model.Student.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Course.CourseId" class="control-label"></label>
                <input asp-for="@Model.Course.CourseId" class="form-control" disabled />
                <span asp-validation-for="@Model.Course.CourseId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Course.CourseName" class="control-label"></label>
                <input asp-for="@Model.Course.CourseName" class="form-control" disabled />
                <span asp-validation-for="@Model.Course.CourseName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.CourseId" class="control-label" hidden></label>
                <input asp-for="@Model.CourseId" class="form-control" hidden />
                <span asp-validation-for="@Model.CourseId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.StudentId" class="control-label" hidden></label>
                <input asp-for="@Model.StudentId" class="form-control" hidden />
                <span asp-validation-for="@Model.StudentId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Enroll" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
