@page "{Id}"
@model EFCoreMovie3_RazorPages_Solution.Pages.Studios.DeleteModel
@{
}

<h1>Delete Studio</h1>
<h3>Are you sure you want to delete this?</h3>
<div>
    <form method="post">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Studio.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Studio.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Studio.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Studio.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Studio.Hqcity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Studio.Hqcity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Studio.NoOfEmployees)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Studio.NoOfEmployees)
            </dd>
        </dl>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
    <div>
        <a asp-page="GetAllStudios">Back to List</a>
    </div>
</div>
